@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
      url('GTWalsheimPro-Medium.woff2') format('woff2'),
      url('GTWalsheimPro-Medium.woff') format('woff'),
      url('GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.container
{
 max-width: 100% !important;
 padding: 1vh 8vw;
 padding-bottom: 8vh;

}
   
body {
  font-family: "GT Walsheim Pro";
  font-size: 1rem;
}


.btn-primary
{
  background-color:  #416EA8;
  border-color: white;
  
}

.navbar
{

 border: 2px solid rgba(33, 33, 33, 0.12);
color:  #484A52;
padding: 1vh 8vw ;
font-size: 16px;
margin-bottom: 8vh;

}
.nav-item
{

margin-right: 6vw;
}


#navbar-brand
{
  color: #484A52 !important;
  font-size: 1rem !important;
}


.my-col
{
display: flex;

}

.content h1
{

font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;

color: #212121;
}
.content p
{

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.08em;
text-transform: uppercase;
color: #212121;

}
.content h6
{

font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #B6B6B6;


}

p
{

font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;

color: #000000;
}
.myrow-2
{
margin-top: 12vh;
border-top: 2px solid rgba(33, 33, 33, 0.12);
padding-top: 4vh;
padding-bottom: 2vh;

}
.mycol-2
{

display: flex;
}
hr {
display: block;
height: 1px;
border: 0;
border-top: 0.5px solid rgba(72, 74, 82, 0.3);
}
.green{
background-color: #58BD9D;
height: 25px;
width: 25px;

border-radius: 50%;
display: inline-block;
}
.red{
background-color: #E17569;
height: 25px;
width: 25px;

border-radius: 50%;
display: inline-block;
}
.blue{
background-color: #447FB1;
height: 25px;
width: 25px;

border-radius: 50%;
display: inline-block;
}
.orange{
background-color: orange;
height: 25px;
width: 25px;

border-radius: 50%;
display: inline-block;
}
.yellow{
background-color: #E6C646;
height: 25px;
width: 25px;

border-radius: 50%;
display: inline-block;
}
input[type=text],select
{
background: #F2F3F5;
border-radius: 6px;
border-width: 0px;
}
.mycol-2 p
{
font-size: 28px;
margin-top: 3px;
}
.mycol-2
{
font-size: 24px ;
}
#left
{
color: #212121;
}
#right
{
color: #B6B6B6;
}

.progress {
  width: 120px;
  height: 120px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
.border-primary
{
  border-color: #416EA8 !important;
}
li { 
  display: table-cell; 
  position: relative; 
 
}
.nav-link::after
{
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background:blue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover::after
{
  width: 100%; 
  left: 0; 
}




@media screen and (max-width:450px)
{
.col-2
{
  display: none;
}
.myrow-2
{
  margin-top: 6vh;
}
.navbar
{
  margin-bottom: 2vh;
}
.content
{
text-align: center;
}

}
@media screen and (max-width:700px)
{
  .content
  {
  text-align: center;
  } 
}





@media screen and (max-width:700px)
{
.my-coll
{
  text-align: center;
}
.mycol-2
{
font-size:20px ;
padding-bottom: 2vw;
}
}

@media screen and (max-width:970px )
{
  .progress
  {
    height:100px !important;
    width: 100px !important;
  }
}