.modal-header{
    border-bottom: 0px !important;
}
.modal-footer{
    border-top: 0px !important;
}
.form-control{
    width: 492px !important;
    height: 52px !important;
    left: 0px !important;
    top: 26px !important;
    background: #EEF4FB !important;
    border-radius: 6px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 90% !important;
}
.question{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0.08em !important;
    text-transform: uppercase !important;
    color: #6A6A6A !important;
    padding-left: 5% !important;
    font-family: GT Walsheim Pro ;
}
.title{
    padding-left: 30% !important;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #212121;
}
.prelim{
    padding-left: 5% !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #3A3A3A;
    margin-bottom: 6% !important;
    margin-top: 4% !important;
    font-family: GT Walsheim Pro ;
}
.modal{
    margin-top: 3% !important;
}
.ques{
    margin-top: 50% !important;
}
.footer{
    margin-right: 36% !important;
    margin-top: 20% !important;
}
.back{
    font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 18px !important;
text-decoration-line: underline !important;

color: #416EA8 !important;
font-family: GT Walsheim Pro ;
}
.submit{
    background-color: #416EA8 !important;
    border-radius: 4px !important;
    font-family: GT Walsheim Pro ;
}
@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Regular"),local("GTWalsheimProRegular"),url(GTWalsheimProRegular.woff2) format("woff2"),url(GTWalsheimProRegular.woff) format("woff"),url(GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Bold"),local("GTWalsheimProBold"),url(GTWalsheimProBold.woff2) format("woff2"),url(GTWalsheimProBold.woff) format("woff"),url(GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}