@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
      url('GTWalsheimPro-Medium.woff2') format('woff2'),
      url('GTWalsheimPro-Medium.woff') format('woff'),
      url('GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body{
    height: 100%;
    font-family: GT Walsheim Pro !important;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    color: #212121;

}


nav.mynavbar{
  background-color: #FFFFFF;
  color: #416EA8;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);


}

a.recruiter{
  color : #000000;
  font-family: sans-serif;
  margin-left: 130px;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {

  overflow: hidden;
  border-width: thin;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

.topnav a:hover {
  border-bottom: 2px solid #304980;
  font-weight: bold;
}

.topnav a.active {
  border-bottom: 2px solid #304980;
  color: #304980;
  text-align: center;
  font-weight: bold;
}


.profile-img-card {
    width: 100px;
    height: 96px;
    margin: 0 auto 10px;
    border-radius: 50%;

}

.myjumbo{
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  width: 1200px;

  margin-left: 120px;

}

.companyname{
  margin-left: 20px;
  transform:translate(0px,-10px);
  font-weight: bolder;
}

.myhead{
  color: #B6B6B6;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-left: 20px

}

.mydesc{
  font-size: 14px;
  margin-left: 20px;
  font-weight: bold;
}

.editprof{
  margin-left: 20px;
  color:blue;
  font-size: 12px;
}

.mydesc1{
  font-size: 16px;
  margin-left: 75px;
  transform:translate(55px,-30px);
  margin-top: 20px;
  font-weight: bold;
}

.mybtn{
  margin-left: 110px;
  width: 191px!important;
  height: 42px;
  background-color: #304980;
  transform:translate(20px,-20px);
  background: #416EA8;

}

.internactive{

  color: #000000;
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 0px;

}

.myav{
  font-family: sans-serif;
  margin-left: 0px;
  border-right: 2px solid #000000;
  margin-top: 0px;

}

.mynavbar1{
  background-color: #FFFFFF;
  margin-left: 130px;
  width:1200px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  height: 50px;
}
.mysearch{
  background: #F2F3F5;
  width: 302px!important;
  height: 36px!important;
  transform:translate(-15px,-15px);
}

.table{
  width:1250px;
  margin-left: 100px;
}

.tablehead{
  color: #B6B6B6;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}

.myrow{
  font-size: 16px;
  text-align: left;
}

.dot{
  width: 20px;
  height: 20px;
  margin: 0 auto 10px;
  border-radius: 50%;
}
h3.bold{
  transform:translate(-25px,-10px);
}














