@font-face {
        font-family: 'GT Walsheim Pro';
        src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
            url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
            url('../font/GTWalsheimPro-Medium.woff') format('woff'),
            url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    a {
      color: #000000;
      text-decoration: none;
      background-color: transparent;
    }
    
    body {
      font-family: "GT Walsheim Pro";
      font-size: 1rem;
    }

    
    .light-text {
      color: #6c757d!important;
    }
    
    .navbar{
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
    }
    .navbar-light .navbar-nav .active>
    .current-page {
      color: #416EA8;
    }
    .navbar-light .navbar-nav>
    .curr-page-ul {
      border-bottom: 2px solid #416EA8;
    }
    .navbar-light .navbar-nav .active>.nav-link:hover {
      color: #416EA8;
    }
    @media(max-width: 768px) {
      .navbar-light .navbar-nav>
      .curr-page-ul {
        border: none;
      }
    }


    .btn-custom {
      color: #fff;
      background-color: #416EA8;
      border-color: #416EA8;
    }
    .btn-outline-custom {
      color: #416EA8;
      border-color: #416EA8;
    }
    .btn-responsive {
      padding: .5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: .3rem;
    }
    @media(max-width: 768px){
      .btn-responsive {
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
      }
    }

    .highlight {
      font-size: 1rem;
    }

    .line {
      margin: 1.5rem 0;
      border: 2px solid rgba(33, 33, 33, 0.12);
    }
    
    .profile-userpic img {
      float: none;
      margin: 0 auto; 
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      width: 100%;
      height: 100%;
      
    }

    @media (min-width: 768px) {
      .profile-userpic img {
        max-height: 30px;
        max-width: 30px; 
      }
      .padding {
        padding: .75rem !important;
      }
      .highlight {
        font-size: 1.5rem;
      }
    }
    
    .top {
      border-top: 1px solid rgba(222,226,230, 1);
    }
    
    #logo {
      width: 100%;
      max-width: 100px;
      max-height: auto;
    }
    
    #company-name {
      font-weight: 700;
      line-height: 1.2;
      font-size: 2.25rem;
    }  
    
    #table-head {
      border-bottom: 1px solid rgba(222,226,230, 1);
    }
    
    
    @media(max-width: 768px) {
      #company-name {
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }
