@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Medium.woff') format('woff'),
        url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
body{
    font-family: GT Walsheim Pro !important;
}

.card{
    
    font-family: GT Walsheim Pro;
    position: absolute;
    transform: translate(-50%,-50%);
    border: white;
	background-color: white!important;
    padding: 30px;
    margin: 20px;
    padding: 36px 0px 0px 36px;
    align-self:center ;
    top: 50%;
    left: 50%;
position: absolute;
width: 575px;
height: 455px;
background: #FFFFFF;
border-radius: 16px;

    }
.name{
     width: 127px;
height: 41px;
font-size: 20px;
line-height: 41px;
margin: 0px 5px;
transform:translate(13px);
color: #212121;
font-weight: 600;
font-family: GT Walsheim Pro;
}
	
#image{
    
    text-shadow: gray ;
height: 60px;
transform:translate(10px);
background: url(google-new-logo-1030x541.jpg);
}

.right {
	
	text-align : left;
    top :50%;
    font-family: GT Walsheim Pro;
    transform: translate(335px,-170px);
}

.left{
    transform: translate(10px,15px);
}

.answer{
    font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #212121;
    transform: translateY(-15px);
}

.lead{
	
    font-style: normal ;
    transform: translateY(-5px);
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #B6B6B6;


}
.cancel{  
    font-size : 16px;
    align-self: center;
    position: static;
    width: 503px;
    height: 50px;
    color: #416EA8;
    background-color: white;
    transform: translate(-33px,-130px)!important;
    text-decoration-color:rgb(42, 42, 202);
    transform : translateY(-170px);
    border-radius: 5px;
    border: 2px solid #416EA8;
}

.x{
    transform:translateY(-13px);
}


 
