@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
      url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('../font/GTWalsheimPro-Medium.woff') format('woff'),
      url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    font-family: GT Walsheim Pro !important;
}


nav.mynavbar{
  background-color: #FFFFFF;
  color : #304980;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  width:100%;


}

a.recruiter{
  color : #000000;
  font-family: sans-serif;
  margin-left: 10px;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {

  overflow: hidden;
  border-width: thin;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;

  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

.topnav a:hover {
  border-bottom: 2px solid #304980;
  font-weight: bold;
}

.topnav a.active {
  border-bottom: 2px solid #304980;
  color: #304980;
  text-align: center;
  font-weight: bold;
}


.profile-img-card {
    width: 100px;
    height: 96px;
    margin: 0 auto 10px;
    border-radius: 50%;

}

.myjumbo{
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  width: 1200px;

  margin-left: 0px;

}

.companyname{
  margin-left: 0px;
  font-weight: bolder;
}

.myhead{
  color: #D7DBDD;
  font-size: 14px;
  margin-left: 0px

}

.mydesc{
  font-size: 14px;
  margin-left: 0px;
  font-weight: bold;
}

.editprof{
  margin-left: 0px;
  color: #3DE3C8;
  font-size: 12px;
}

.mydesc1{
  font-size: 14px;
  margin-left: 75px;
  margin-top: 0px;
  font-weight: bold;
}

.mybtn{
  margin-left: 110px;
  background-color: #304980;

}

.internactive{

  color: #000000;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 0px;

}

.myav{
  font-family: sans-serif;
  margin-left: 0px;
  border-right: 2px solid #000000;
  margin-top: 0px;

}

.mynavbar1{
  background-color: #FFFFFF;
  margin-left: 0px;
  width:1200px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  height: 50px;
}
.mysearch{
  background-color: #D7DBDD;
}

.table{
  width:1250px;
  margin-left: 0px;
}

.tablehead{
  color: #D7DBDD;
  font-size: 14px;
  text-align: center;
}

.myrow{
  font-size: 16px;
  text-align: center;
}

.dot{
  width: 20px;
  height: 20px;
  margin: 0 auto 10px;
  border-radius: 50%;
}
