@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Medium.woff') format('woff'),
        url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.container{
    max-width: 100% !important;
}
a:hover
 {
      color:#000000;
      text-decoration:none;
      cursor:pointer;
 }
.brand {
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #484A52;
}

.nav-menu{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #484A52;
    overflow: hidden;
}

ul{
    margin-left: auto;
    position: relative;
    left: 22vw;
}

.menu-item{
    width: fit-content;
    box-sizing: content-box;
}

.RegisterBtn{
    width: 91px;
    height: 34px;
    background: #416EA8;
    border-radius: 4px;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF; 
    border: none;   
}

.sideImg{
    position: absolute;
    top: -40vh;
    right: 0;
    height: 93vh;
    z-index: -20;
    
}

.heading{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    padding-top:8vh;
    color: #212121;
}

.quote{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    color: #212121;

}

.studentLogin{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;

    color: #212121;

}

.recruiter{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #6696DD;
}

.input{
    width: 100%;
    height: 64px;
    border: none;
    background: #EEF4FB;
    border-radius: 6px;
    padding-left: 25px;
    margin-top: 24px;
}

.login{
    width: 100%;
    height: 64px;
    border: none;
    background: #EEF4FB;
    background: #416EA8;
    border-radius: 6px;
    margin-top: 24px;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;

    color: #FFFFFF;
}

::placeholder{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #484A52;
}


@media (max-width:1270px) and (min-width:751px){
    .sideImg{
        width: 70vw;
        height: 50vw;
        top: -260px;
    }
}

@media (max-width:990px){

    ul{
        margin-left: 0 !important;
        left: 0;
    }

    .menu-item{
        margin-bottom: 2vh;
    }
}

@media (max-width:750px){
    .sideImg{
        position: relative;
        z-index: 0;
        width: 102%;
        top: -50px;
        right: 7px;
        height: 100%;
    }
}