@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Medium.woff') format('woff'),
        url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body{
    font-family: "GT Walshein Pro";
    font-size: 1rem;
}
a:hover
 {
      color:#000000;
      text-decoration:none;
      cursor:pointer;
 }
.navbar-brand{
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom: 10px;   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center; 
    font-family: GT Walsheim Pro ;
}

.collapse{
    padding-left: 716px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #484A52;
    font-family: GT Walsheim Pro ;
}


.contact{
    padding-left:96px;

    margin-right: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #484A52;
    padding-right: 96px;
}

.register{
    padding-right: 8% !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

nav{
    box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
}


.head{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #212121;
    padding-top: 50px;
    padding-bottom: 32px !important;
    font-family: GT Walsheim Pro ;
    
    /* border: 2px brown solid; */
}

.form-group{
    text-align: center;
    font-family: GT Walsheim Pro ;
}

.form-control{
    width: 36% !important;
    margin-left: 32% !important;
    margin-right: 32% !important;
    padding-top: 22px !important;
    padding-bottom: 22px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #484A52 !important;
    margin-bottom: 22px !important;
    background: #EEF4FB !important;
    border-radius: 6px !important;
}

.regn{
    width: 36% !important;
    margin-left: 32% !important;
    margin-right: 32% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: GT Walsheim Pro ;
}

button:hover{
    opacity: 0.9;
}

.btn:hover{
    opacity: 0.9;
}


.btn{
    background: #416EA8 !important;
    border-radius: 6px !important;
}
.student{
    text-align: center;
}



.intern{
    font-style: normal !important;
    font-weight: normal;
    font-size: 13px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #6696DD !important;
    font-family: GT Walsheim Pro ;
}


 @media (max-width: 1440px) and (min-width:985px){
    body{
        width: max-content;
    }
}


@media (max-width:991px){
    .contact {
        margin-right: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #484A52;
        padding-right: 0px;
    }

    .collapse{
        padding-left: 0px;
        padding-right: 90px;
    }

    .navbar-toggler{
        padding-right: 0px;
    }

    .navbar-nav{
        align-items: flex-end;
    }

    .navbar-brand{
        font-size: 2em;
        padding-left: 69px;
    }

    .register{
        padding-left: 69px;
    }

    .navbar-light .navbar-toggler{
        padding-right: 13px;
        margin-right: 90px;
    }
}