@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
      url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('../font/GTWalsheimPro-Medium.woff') format('woff'),
      url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

body {
  font-family: "GT Walsheim Pro";
  font-size: 1rem;
}


.light-text {
  color: #6c757d!important;
}

.navbar{
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
}
.navbar-light .navbar-nav .active>
.current-page {
  color: #416EA8;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #416EA8;
}

.line {
  margin: 1.5rem 0;
  border: 2px solid rgba(33, 33, 33, 0.12);
}


.profile-userpic img {
    
  float: none;
  margin: 0 auto; 
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  width: 100%;
  height: 100%;
  
  
}

.top {
  border-top: 1px solid rgba(222,226,230, 1);
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('GTWalsheimPro-Medium.woff2') format('woff2'),
        url('GTWalsheimPro-Medium.woff') format('woff'),
        url('GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

body {
  font-family: "GT Walsheim Pro";
  font-size: 1rem;
}


.light-text {
  color: #6c757d!important;
}

.navbar{
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
}
.navbar-light .navbar-nav .active>
.current-page {
  color: #416EA8;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #416EA8;
}

.line {
  margin: 1.5rem 0;
  border: 2px solid rgba(33, 33, 33, 0.12);
}



.top {
  border-top: 1px solid rgba(222,226,230, 1);
}

#logo {
  width: 100%;
  max-width: 100px;
  max-height: auto;
  border-radius: 70%;
}

#company-name {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
}  

.apply {
    text-align: center;
    margin-left: 3rem !important;
    margin-top: 7rem !important;
}




