{% extends "recruiter/base1.html" %}

{% load static %}

<html>
<head>





  <title>{% block title %} Available Interns {% endblock %} </title>
</head>
<body>


    {% block content  %}


  
  <div class="row mb-5 justify-content-between">
    <div class="col-md-6 pb-4 pb-md-0 highlight">
      <a class="d-block d-lg-inline "  href="#" >Available Interns |</a>
      <a class="d-block d-lg-inline light-text"   href="{% url 'recruiter:shortlistedInterns' %}" >Shortlisted Interns</a>
    </div>
    <div class="col-md-6 d-flex col-lg-4 flex-row-reverse align-items-start">
      <button class="btn btn-outline-custom">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      </button>
      <input class="form-control form-control-dark w-100 w-lg-50 mr-2" type="text" placeholder="Search" aria-label="Search">

    </div>
  </div>


  <div class="row d-none d-md-flex" id="table-head">
      <div class="col-md-auto profile-userpic padding"><img src="https://www.htmlcsscolor.com/preview/128x128/FFFFFF.png" class="img-fluid"></div>
      <div class="col-md">
        <div class="row light-text">
          <div class="col padding">NAME</div>
          <div class="col padding">PROFILE</div>
          <div class="col padding">DEPARTMENT</div>
        </div>
        
      </div>  
    </div>



  <div class="row p-2 p-md-0 " >
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="https://cdn130.picsart.com/321379439036201.jpg?type=webp&to=crop&r=256" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-4 padding " >


            <a href="#profile" data-toggle="modal"> Priyanshu Gupta</a></div>

          <div class="col-md-4 padding">Front-end</div>
          <div class="col-md-4 padding">Mechanical Engineering</div>
        </div>
      </div>
    </div>

    {% for intern in app %}
      <div class="row p-2 p-md-0 " >
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="https://cdn130.picsart.com/321379439036201.jpg?type=webp&to=crop&r=256" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-4 padding  " >


            <a href="#model{{ intern.id }}" data-toggle="modal"> {{ intern.Intern.name }}</a></div>

          <div class="col-md-4 padding">{{ intern.Internship.profile }}</div>
          <div class="col-md-4 padding">{{ intern.Intern.department }}</div>
        </div>
      </div>
    </div>


    <!------------------------------------------modal for internanswercard --------------------------------->




     <div class="modal fade  " id="model2{{ intern.id }}">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content border">
            <h3 class="modal-title pl-4 pt-4"><b>{{ intern.Intern.name }}</b></h3>
          <div class="modal-body">
              {% for key,value in intern.count_intern_Answers.items %}
              <p><h7 id="ques">Q</h7> <b>{{ key }}</b><br>
                  <h7 id="ans">-></h7>{{ value }}</p>
              {% endfor %}



          <div class="pb-1 mx-1 ">

                <a href='#model{{ intern.id }}' class='btn mx-2 px-5 my-2 btn-outline-primary border-lg ' data-toggle='modal' data-dismiss="modal" >View profile</a>
                <a href="{% url 'recruiter:shortlistedInterns' intern.id %}" class='btn mx-2 px-5 my-2 btn-primary border-lg '>Shortlist</a>

          </div>

        </div>
      </div>
     </div>
    </div>


    <!-------------------------intern profile card ------------------------------------------------------------------->



     <div class="modal fade  " id="model{{ intern.id }}">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content border">

          <h3 class="modal-title pl-3 pt-3 "><b>{{ intern.Intern.name }}</b></h3>
          <div class="modal-body">


              <div class="pb-3 pt-2 mx-auto" style="max-width:30%;">
                <img src="{% static 'image/test_image_ecell.jpg' %}" class="rounded-circle img-fluid" alt="">
              </div>


              <p><h7 id="ques">DEPARTMENT</h7><br><b>{{ intern.Intern.department }}</b></p>
              <p><h7 id="ques">ROLL NO.</h7><br><b>{{ intern.Intern.roll_number }}</b></p>
              <p><h7 id="ques">BIO</h7><br><b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facilis, quas est qui omnis
                                ea!</b></p>

            <div class="pb-3 mx-2 ">

                <a href='#model2{{ intern.id }}' class= 'btn px-3 my-2 btn-outline-primary border-lg' data-dismiss='modal' data-toggle="modal">View Answers to form</a>
                <a href="{% url 'recruiter:shortlistedInterns' intern.id %}" class='btn  mx-1 px-5 my-2 btn-primary border-lg '>Shortlist</a>

            </div>

          </div>
        </div>
      </div>
     </div>

    {% endfor %}
 {% endblock %}

<!---------------------------------------------------------------->


  
</body>
</html>
