
<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" async></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'recruiter/css/AvailableInterns.css' %}">
   <link rel="stylesheet" href="{% static 'recruiter/css/theme_config.css' %}" >
     <link rel="stylesheet" href="{% static 'recruiter/css/InternshipQuestionsCard.css' %}">

  <title>{% block title %}base {% endblock %} </title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top py-2 p-md-0" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span>Recruiter's page</span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active py-md-2 ">
            <a class="nav-link " href="{% url 'recruiter:Profile' startup.id %}">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active py-md-2">
            <a class="nav-link" href="{% url 'recruiter:InternList' startup.id %}">Internship Statistics</a>
          </li>
          <li class="nav-item active py-md-2">
            <a class="nav-link" href="mailto:internfair@udgam-iitg.ac.in" title="Send us Mail with any of your Query, We will respond you, at our earliest.">Contact Us</a>
          </li>
          <li class="nav-item active py-md-2">
            <a class="nav-link" href="{% url 'recruiter:StartupLogout' %}" style="color: #416EA8;">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row" style="margin-top: 6rem;">
      <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
<!--          <img src="https://demo.appcarvers.com/junite/media/com_easysocial/photos/1606/4686/google-logo-icon-png-transparent-background_thumbnail.png" id="logo">-->
      <svg data-jdenticon-value="user17{{startup.id }}" width="80" height="80">
        
      </svg>
      </div>
    <div class="col-md-4 pb-3 pb-md-0">
      <h1 id="company-name">{{startup.companyName}}</h1>
      <div class="light-text" style="font-size: .75rem;">COMPANY DESCRIPTION</div>
      <p style='padding-right:10px'>{{startup.description}}</p>
      <div class="light-text" style="font-size: .75rem;">LOCATION</div>
      <p>{{startup.location}}</p>
      <a href= "#edit_profile" data-toggle="modal"  style="color: #416EA8; font-size: .75rem;">Edit Profile</a>
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <div>
        <p>Add a new internship position to start recruiting</p>
                {% include "recruiter/CompanyDetailsCard.html" %}

      <a class="btn btn-custom btn-responsive" href="#myModal" role="button"  data-toggle="modal">

          Add an internship form</a>
      </div>

    </div>
  </div>
    <hr class="line">
  </div>



   <div class="container">
             <div class="modal fade" id="edit_profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  " role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <div class="mx-auto " >
                    <b>Edit profile</b>
                    </div>

                </div>
                <form method='POST' action="{% url 'recruiter:editStartupProfile' startup.id %}">
                {% csrf_token %}
                    <div class="prelim mx-auto">
                     <div class="pb-3 pt-2 mx-auto" style="max-width:30%;">
<!--                        <img src="{% static 'image/p.png' %}" class="rounded-circle img-fluid" alt="">-->
                     <svg data-jdenticon-value="user17{{startup.id }}" width="80" height="80"></svg>
                     </div>
                      <div class='text-center'>
                         <button class=" btn btn-sm   btn-primary submit " onclick="document.getElementById('getFile').click()">Upload/Change Company Photo</button>
                      </div>
                     <input type='file' id="getFile" style="display:none">
                </div>
                    <label for="question1" class="question" >COMPANY NAME</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name='companyName' value='{{startup.companyName}}' id="question1" >
                    </div>
                    <label for="question2" class="question">COMPANY DESCRIPTION</label>
                    <div class="form-group">
                        <input type="text" name='description' maxlength='500' value='{{startup.description}}' class="form-control" id="question2">
                    </div>
                    <label for="question3" class="question">COMPANY LOCATION</label>
                    <div class="form-group">
                        <input type="text" name='location' value='{{startup.location}}' class="form-control" id="question3" >
                    </div>
                <div class=" text-center" style='padding-bottom:10px'>
                    <button type="submit" class="btn btn-primary "  >Save Changes</button>
                  <button type="button" class="btn btn-outline-primary " data-dismiss="modal" >No</button>
                </div>
                </form>
  
              </div>
            </div>
          </div>
         </div>
    <div class="container">
    {% block content  %}
        {% endblock %}
    </div>
   {% include  "recruiter/js.html" %}

  </body>



  </html>
