{% extends "recruiter/base1.html" %}

{% load static %}
<html lang="en">
  <head>
    <title>{% block title %}Company Profile {% endblock %}</title>
    {% block stylesheets %}
<!--    <link rel="stylesheet" href="{% static 'recruiter/css/theme_config.css' %}">-->
    <link href="css-circular-prog-bar.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="{% static 'css/CompanyProfile.css' %}">-->
    <!--  <link rel="stylesheet" href="{% static 'css/InternAnswerCard.css' %}" >-->

      {% endblock stylesheets %}
  </head>
  <body>

    {% block content %}

     <div class="row mb-5 justify-content-between">
        <div class="col-md-6 pb-4 pb-md-0 highlight">
          <a class="d-block d-lg-inline "  href="{% url 'recruiter:Profile' %}" >Active Forms |</a>
          <a class="d-block d-lg-inline light-text"   href="#" >Deactivated Forms</a>
        </div>
        <div class="col-md-6 d-flex col-lg-4 flex-row-reverse align-items-start">
          <button class="btn btn-outline-custom">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          </button>
          <input class="form-control form-control-dark w-100 w-lg-50 mr-2" type="text" placeholder="Search" aria-label="Search">
         </div>
     </div>


     <div class="container">
            <div class="row">
             <div class="col-1"> </div>
              <div class="col-3">   <span style="color:#adadad ">PROFILE</span>  </div>
              <div class="col-3">  <span style="color:#adadad  ">STIPEND</span>   </div>
              <div class="col-3"><span style="color:#adadad  ">LOCATION</span>    </div>
              <div class="col-2">   <span style="color:#adadad  ">APPLICANTS</span>  </div>
            </div>
            <hr/>
            <div class="row"> <div class="col-1"> <span class="dot green"></span>  </div>   </div>






         {% for p in profiles %}

         <div class="row">
             <div class="col-1"> </div>
              <div class="col-3">   <span ><a href="#form_details" data-toggle="modal" >{{ p.profile }}</a></span>  </div>
              <div class="col-3">  <span >{{p.stipend}}</span>   </div>
              <div class="col-3"><span>{{p.location}}</span>    </div>
              <div class="col-2">   <span >none</span>  </div>
            </div>
            <hr/>


        <!-- Modal -->
          <div class="modal fade" id="form_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <div class="title">
                       {{ p.profile }}
                    </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  <div class="modal-body">
                    <label for="question1"  >APPLICANTS</label>
                    <p id="question1">24</p>
                    <label for="question2" >SHORTLISTED</label>
                    <p id="question2">12</p>
                  </div>
                <div class="modal-footer">
                    <div class="footer">
                  <button type="button" class="btn btn-outline-primary " data-dismiss="modal" >Deactivate form</button>
                  <button type="button" class="btn btn-primary "  >Edit form</button>
                    </div>

                </div>
              </div>
            </div>
          </div>
         {% endfor %}
     </div>





<!------------------------------------------------------------------------------------------------------------------->
    {% endblock %}


  </body>
</html>