{% extends "recruiter/base1.html" %}

{% load static %}
<html lang="en">
  <head>
    <title>{% block title %}Company Profile {% endblock %}</title>
    {% block stylesheets %}
<!--    <link rel="stylesheet" href="{% static 'recruiter/css/theme_config.css' %}">-->
    <link href="css-circular-prog-bar.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="{% static 'css/CompanyProfile.css' %}">-->
    <!--  <link rel="stylesheet" href="{% static 'css/InternAnswerCard.css' %}" >-->

      {% endblock stylesheets %}
  </head>
  <body>

    {% block content %}


     <div class="container">

          <div class="row myrow-2">
           <div class="col-md-9 col-sm-12 mycol-2">
           <a href="#" id="left">Active Forms |</a>
           

           <a href="#" id="right"> Deactivated Forms</a>
           </div>
           <div class="col-md-2 col-sm-12">
            <form action="/hms/accommodations" method="GET"> 
              
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                   
                </div>
              </div>
            </form>
             </div>

           </div>
           <div class="row">
             <div class="col-1">

             </div>
              <div class="col-3">
                  <span style="color:#adadad ">PROFILE</span>
              </div>
              <div class="col-3">

          <span style="color:#adadad  ">STIPEND</span>
              </div>
              <div class="col-3">

        <span style="color:#adadad  ">LOCATION</span>
              </div>
              <div class="col-2">

        <span style="color:#adadad  ">APPLICANTS</span>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-1">
        <span class="dot green"></span>
      </div>
      <div class="col-3">
        <span > <a href="#form_details" data-toggle="modal" >Front-end</a></span>
      </div>
      <div class="col-3">
        <span >N/A</span>
      </div>
      <div class="col-3">
        <span >Mumbai</span>
      </div>
      <div class="col-2">
        <span >13</span>
      </div>
      </div>
      <hr/>

        <!-- Modal -->
          <div class="modal fade" id="form_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <div class="title">
                        Front-end Internship
                    </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  <div class="modal-body">
                    <label for="question1"  >APPLICANTS</label>
                    <p>24</p>
                    <label for="question2" >SHORTLISTED</label>
                    <p >12</p>
                  </div>
                <div class="modal-footer">
                    <div class="footer">
                  <button type="button" class="btn btn-outline-primary " data-dismiss="modal" >Deactivate form</button>
                  <button type="button" class="btn btn-primary "  >Edit form</button>
                    </div>
                </div>
              </div>
            </div>
          </div>

     </div>

<!------------------------------------------------------------------------------------------------------------------->
    {% endblock %}


  </body>
</html>