
{% load static %}

<html>

<body>
      <form method="POST" action="{% url 'recruiter:form_submit' %}">
                        {% csrf_token %}
        <div class="modal fade " id="myModal"  role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document">
                <div class="modal-content ">
                     <h2 class="modal-header mx-auto">Internship Form</h2>

                    <div class="modal-body">
                        <div class="form-group">


                            <h4>Company Bio</h4>
                     
                       <!----created new form ------------>


                    <label for="question1" class="question" >PROFILE</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="question1" name="PROFILE">
                    </div>
                    <label for="question2" class="question">STIPEND</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="question2" name="STIPEND">
                    </div>
                    <label for="question3" class="question">LOCATION</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="question3" name="LOCATION">
                    </div>
                    <label for="question4" class="question">ALLOWANCE</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="question4" name="ALLOWANCE">
                    </div>
                    <label for="question5" class="question">REMARKS</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="question5" name="REMARKS">
                    </div>
                <div class="modal-footer mx-auto">


                    <a class="btn btn-primary" href="#myModal2"    data-toggle='modal' data-dismiss="modal"  >Next</a>

                  <button type="button" class="btn btn-outline-primary " data-dismiss="modal" >Back</button>


                </div>

                </div>
              </div>
            </div>
          </div>
         </div>










        <div class="modal fade " id="myModal2"   >
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document">
                    <div class="modal-content ">
                            <h2 class="modal-header mx-auto">Internship Form</h2>

                        <div class="modal-body">
                            <div class="form-group">
            <div class="">
                <div style="padding: 5%;">
                    <div style="text-align: center;">

                    </div>

                    <span class="sub-heading">Question for preliminary interview</span>
                   
                        <br>
                        <span class="Qheading">Question 1</span>
                        <input type="text" class="input" name="Q1">
                        <br><br>
                        <span class="Qheading">Question 2</span>
                        <input type="text" class="input" name="Q2">
                        <br><br>
                        <span class="Qheading">Question 3</span>
                        <input type="text" class="input" name="Q3">
                        <br><br>

                    <br>
                        <br>
                    <div class="row align-items-center ">
                        <div class="col-5 text-right"><a href="#myModal"  class="back"  data-toggle="modal" data-dismiss="modal">Back</a></div>
                        <div class="col-7 text-left"><input type="submit" class="Publish" value="Publish"></div>
                    </div>

                </div>

            </div>
        </div>
                        </div>
                    </div>
                </div>
        </div>
 </form>

   {% include  "recruiter/js.html" %}

</body>
</html>