@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Medium.woff') format('woff'),
        url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.form-control{
    width: 492px !important;
    height: 52px !important;
    left: 0px !important;
    top: 26px ;
    background: #EEF4FB !important;
    border-radius: 6px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 90% !important;
}
.question{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0.08em !important;
    text-transform: uppercase !important;
    color: #6A6A6A !important;
    padding-left: 5% !important;
    font-family: GT Walsheim Pro ;
}
.title{
    padding-left: 30% !important;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #212121;
}
.prelim{
    padding-left: 5% !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #3A3A3A;
    margin-bottom: 6% !important;
    margin-top: 4% !important;
    font-family: GT Walsheim Pro ;
}
.modal{
    margin-top: 2% ;
}
.ques{
    margin-top: 50% !important;
}
.footer{
    margin-right: 36% !important;
    margin-top: 20% !important;
}
.back{
    font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 18px !important;
text-decoration-line: underline !important;

color: #416EA8 !important;
font-family: GT Walsheim Pro ;
}
.submit{
    background-color: #416EA8 !important;
    border-radius: 4px !important;
    font-family: GT Walsheim Pro ;
}

.btn-primary {
    background-color: #416EA8!important;
}
.btn-outline-primary{
    color:#416EA8!important;
}
.btn-outline-primary:hover{
    background-color:#416EA8!important;
    color: aliceblue!important;
}

.tweaks{
 color:#416EA8!important;}