<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" async></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/AvailableInternships.css' %}">

  <title>Available internships</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span>Available Internships</span>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link current-page hov" href="{% url 'StudentProfile' %}">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link activo activa hov" href="#" style="color: #416EA8;">Available Internship</a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link hov" href="mailto:internfair@udgam-iitg.ac.in" title="Send us Mail with any of your Query, We will respond you, at our earliest.">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link activa hov" href="{% url 'StudentLogout' %}" style="color: #416EA8;">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



    <hr class="line">
   <div class="container-fluid">

    <div class="row mb-3 justify-content-between">

      <div class="col-md-5 pb-3  mx-5 pb-md-0 alert alert-warning" style="font-size: 1rem">
        Please note you can only apply to a maximum of 5 Internships
      </div>
      <div class="col-md-4 d-flex mx-5 col-lg-4 flex-row-reverse align-items-start">
        <button class="btn btn-outline-primary">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
          </svg>
        </button>
        <input class="form-control form-control-dark w-50 w-lg-50" type="text" placeholder="Search"
          aria-label="Search">

      </div>
    </div>

    <div class="little-center-table">

      <!-- Table column heading -->
      <div class="row d-none d-md-flex" id="table-head">
        <div class="col-md-auto profile-userpic padding">
            <img src="https://www.htmlcsscolor.com/preview/128x128/FFFFFF.png" class="img-fluid">
        </div>
        <div class="col-md">
          <div class="row light-text">
            <div class="col padding">NAME</div>
            <div class="col padding">PROFILE</div>
            <div class="col padding">LOCATION</div>
            <div class="col padding">STIPEND</div>
          </div>

        </div>
      </div>



      <!-- First row -->
      {% for intern in interns %}
      <div class="row p-2 p-md-0 top" id="{{intern.id}}" onclick="openApplyModal({{intern.id}})">
        <div class="col-3 col-md-auto  padding p-0 mx-3 m-md-0">
<!--          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVBaeG1ENgtAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC"-->
<!--            class="img-fluid">-->
<!--          <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" alt="loading..." id="image">-->
        <svg width="25" height="25" data-jdenticon-value="user{{intern.id}}"></svg>
        </div>
        <div class="col-auto col-md p-0 px-md-3">
          <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
            <div class="col-md-3 padding"> {{ intern.startup }}</div>
            <div class="col-md-3 padding">{{ intern.profile }}</div>
            <div class="col-md-3 padding">{{ intern.location }}</div>
            <div class="col-md-3 padding">{{ intern.stipend }}</div>
          </div>
        </div>
      </div>

      {% comment %} Apply to compant modal {% endcomment %}
      <div class="applyToCompany" id="modal{{intern.id}}">
        <div class="applyCard" style="margin:auto;">
            <div class="row">
                <div class="col-3">
                     <svg width="80" height="80" data-jdenticon-value="user{{intern.id}}"></svg>
                </div>
            </div>
            <div class="row" style="padding-top: 10px; padding-bottom: 3px;">
                <div class="col-10 test-left c-name">
                    {{ intern.startup }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-left entry">
                    <small>PROFILE</small><br>
                    <span class="info">{{ intern.profile }}</span>
                </div>
                <div class="col-6 text-left entry">
                    <small>ALLOWANCES</small><br>
                    <span class="info">{{ intern.allowances }}</span>
                </div>
                <div class="col-6 text-left entry">
                    <small>LOCATION</small><br>
                    <span class="info">{{ intern.location }}</span>
                </div>
                <div class="col-6 text-left entry">
                    <small>REMARKS</small><br>
                    <span class="info">{{ intern.remarks }}</span>
                </div>
                <div class="col-6 text-left entry">
                    <small>STIPEND</small><br>
                    <span class="info">{{ intern.stipend}}</span>
                </div>

            </div>
            <div class="row" style="padding-top: 10px; padding-bottom:30px">
                <div class="col-12 text-center">
                    <button type="button" onclick="openQuestionModal({{intern.id}})" class="apply">Apply</button>
                </div>
            </div>
        </div>
    </div>

      <!-- Question Modal -->
      <div class="questionModal" id="qModal{{intern.id}}">
        <div class="quesCard" style="margin:auto">
          <div style="padding: 5%;">
            <div style="text-align: center;">
              <span class="heading">Internship Form</span><br><br>
            </div>

            <span class="sub-heading">Question for preliminary interview</span>
            <form action="" method="POST" >
              {% csrf_token %}
              <br>
<!--              <span class="Qheading">{{ intern.questions }}</span>-->
<!--              <input type="text" class="input" name="questions">-->
<!--              <br><br>-->
              <input type="hidden"  name = "startup"  value='{{ intern.startup }}'>
              <input type="hidden"  name = "profile"  value="{{ intern.profile }}">
              <input type="hidden"  name = "id"  value="{{ intern.id }}">
              <span class="">CV (google drive link) </span>
              <input type="text"  name = "CV" class="input">
              {% for ques in intern.string_as_list  %}
              <span class="">{{ ques }}</span>
              <input type="text"  name = "answers" class="input">

              <br><br>
              {% endfor %}



            <br>
            <div class="row align-items-center ">
              <div class="col-5 text-right"><a class="back" onclick="backModal({{intern.id}})">Back</a></div>
<!--              <div class="col-7 text-left"><button class="Publish" onclick="submitApplication(1)">Submit</button></div>-->
               <div class="col-7 text-left"><button class="Publish" >Submit</button></div>
            </div>
            </form>
          </div>

        </div>
      </div>

      {% endfor %}
      <!-- Second row (Later will be shown with for loop)-->

    </div>

  </div>


  <script>
    function openApplyModal(i) {
      var modal = document.getElementById("modal" + i);
      modal.style.display = "block";
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }

    function openQuestionModal(i) {
      var modal = document.getElementById("modal" + i);
      modal.style.display = "none";
      modal = document.getElementById("qModal" + i);
      modal.style.display = "block";
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }

    function backModal(i) {
      var modal = document.getElementById("qModal" + i);
      modal.style.display = "none";
      modal = document.getElementById("modal" + i);
      modal.style.display = "block";
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }

    function submitApplication(i) {
      alert("Application submitted successfully");
      window.location.replace("{%url 'StudentProfile'%}");
    }



  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>


</body>

</html>