<doctype html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="utf-8">q1213
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/CompanyEditProfileCard.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
    <!--<div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <strong><h3 class="text-center text-info">Edit Profile</h3></strong>
                            <div class="form-group">
                                <label for="Companyname" class="text-info">COMPANY NAME</label><br>
                                <input type="text" name="companyname" id="companyname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="companydes" class="text-info">COMPANY DESCRIPTION</label><br>
                                <input type="text" name="companydes" id="companydes" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="companyloc" class="text-info">COMPANY LOCATION</label><br>
                                <input type="text" name="companyloc" id="companyloc" class="form-control">
                            </div>
                            <div class="form-group">
                             <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Save Changes">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="container">



    <div class="container">
       <div class="card card-container">
           <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
           <h4 class = "prof"> Edit Profile </h4>


           <img id="profile-img" class="profile-img-card" src="{% static 'image/p.png' %}" />
           <div class=" col-md-8">

           </div>

           <p id="profile-name" class="profile-name-card"></p>
           <form class="form-signin">
             <button class=" uploadbtn" onclick="document.getElementById('getFile').click()">Upload/Change Company Photo</button>
             <input type='file' id="getFile" style="display:none">
               <span id="reauth-email" class="reauth-email"></span>
               <label class="company-name" for="company-name">
                    COMPANY NAME
               </label>
               <input type="text" id="company-name" class="form-control" required autofocus>
               <label class="company-name" for="company-description">
                    COMPANY DESCRIPTION
               </label>
               <input type="text" id="company-description" class="form-control" required>
               <label class="company-name" for=2"company-locations">
                    COMPANY LOCATION
               </label>
               <input type="text" id="company-location" class="form-control" required>

               <div class="form-group row">

                   <div class="col col-md-4">
                     <button class="btn btn-sm smaller btn-btn-primary  mybtn" type="submit">Save Changes</button>
                   </div>

                   <div class="col col-sm-2">
                     <button class="btn btn-sm smaller btn-link mybtn1" type="submit">No</button>
                   </div>




               </div>



           </form><!-- /form -->

       </div><!-- /card-container -->
   </div><!-- /container -->
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/CompanyEditProfileCard.js' %}">

    </script>
  </body>
  </html>
