<!doctype  html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" >
    <link rel="stylesheet" href="{% static 'css/InternAnswerCard.css' %}" >
    
   
    <title>Details </title>
  </head>
  <body>
   
    
    <div class='container '>
      <!-- button attached to open the pop up details 
      Add data-toggle="modal" and data-target="#modalID" to any element.
      Note: For <a> elements, omit data-target, and use href="#modalID" instead:-->
        
      <button class="btn btn-lg btn-outline-success" type="button"  data-toggle="modal" data-target="#details">open it up</button>


      <!-- Modal for details -->
     <div class="modal fade  " id="details"> 
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content border">

          
            <h3 class="modal-title pl-4 pt-4"><b>Yashwardhan singh</b></h3>

          
          
          <div class="modal-body">
            
              
              <p><h7 id="ques">Q1</h7><br><b>Lorem Ipsum has been the industelease oith desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    1s. It has survived not only five centuries, but also the leap int column</b></p>
              
              <p><h7 id="ques">Q2</h7><br><b>  ry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 1960s with the r1st column
                </b></p>
              
              <p><h7 id="ques">Q3</h7><br><b>1st f Letraset sheets containing Lorem Ipsum passages, and more recently wcolum scrambled it to make a type specimen bookto electronic typesetting, remaining essentially unchanged. It was popularised in then</b></p>  
          </div>  
          
          <div class="pb-3 mx-5 ">
              
                <a href='#' class='btn  mx-2 px-5 btn-outline-primary border-lg '>View profile</a>
                <a href='#' class='btn  mx-2 px-5 btn-primary   border-lg '>Shortlist</a>
              
          </div>    
          
        </div>
      </div>
     </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
  
  </body>   
  </html> 
