<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/StudentProfile1.css' %}">

  <title>Avalible interns</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span><a href="#">Student's page</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link current-page" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'AvailableInternships' %}">Available Internship </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: #416EA8;">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row" style="margin-top: 6rem;">
      <div class="col-12 col-md-2 d-flex justify-content-center align-items-center"><img src="{% static 'image/test_image_ecell.jpg' %}" id="logo"></div>
    <div class="col-md-4 pb-3 pb-md-0">
      <h1 id="company-name">Ayush Aggarwal</h1>
      <div class="light-text" style="font-size: .75rem;">DEPARTMENT</div>
      <p>Chemical Science And Technology</p>
      <div class="light-text" style="font-size: .75rem;">ROLL NUMBER</div>
      <p>160103019</p>
      <a href= "#" style="color: #416EA8; font-size: .75rem;">Edit Profile</a>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      
      
    </div>
  </div>
    <hr class="line">

    <div class="row mb-5 justify-content-between">
        <div class="col-md-6 pb-4 pb-md-0" style="font-size: 1.5rem">
          <a class="d-block d-lg-inline" href="#">Internships you've registered for</a>
        </div>
        <div class="col-md-6 d-flex col-lg-4 flex-row-reverse align-items-start">
            <button class="btn btn-outline-primary">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </button>
            <input class="form-control form-control-dark w-100 w-lg-50" type="text" placeholder="Search" aria-label="Search">
      
          </div>
        </div>
      
      

    <div class="apply">
        <p>You haven't applied to any companies yet. Start by looking at<br>company's requirements</p>
      <a class="btn btn-primary btn-lg" href="#" role="button" style="background: #416EA8;">Apply to companies</a>
      </div>
  
  
  
</body>
</html>
