<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/studentprofile.css' %}">

  <title>Student Profile</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span>Student's page</span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link current-page" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'AvailableInternships' %}">Available Internship </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href=" {% url 'StudentLogout' %}" style="color: #416EA8;">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div style="padding: 0 10%;">
    <!-- Profile info -->
    <div class="row" style="margin-top: 6rem;">
      <div class="col-12 col-md-2 d-flex justify-content-center align-items-center"><img
          src="{% static 'image/test_image_ecell.jpg' %}" id="profileLogo"></div>

      <div class="col-md-6 pb-3 pb-md-0">
        <h1 id="company-name">{{student.name}}</h1>
        <div class="light-text" style="font-size: .75rem;">DEPARTMENT</div>
        <p>{{student.department}}</p>
        <div class="light-text" style="font-size: .75rem;">ROLL NUMBER</div>
        <p>{{student.roll_number}}</p>
        <div class="light-text" style="font-size: .75rem;">BIO</div>
        <p style='max-width:100%%;'>{{student.bio}}</p>


        <a href="#" style="color: #416EA8; font-size: .75rem;" onclick="openEditModal()">Edit Profile</a>
      </div>
      

    </div>
    <hr class="line">

    <!-- Modal for edit profile -->
    <div class="editProfileModal" id="editProfileModal">
      <div class="Editcard ">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <h4 class="prof"> Edit Profile </h4>


        <img id="profile-img" class="profile-img-card" src="{% static 'image/test_image_ecell.jpg' %}" />
        <div class="col-md-12 text-center">
          <button class="uploadbtn" onclick="document.getElementById('getFile').click()"
            style="width: fit-content;">Upload/Change Your Photo</button>
          <input type='file' id="getFile" style="display:none">
        </div>
        <span class="full" style="text-align: center; padding-top: 5px;">
          <a href="#">
            JPG or PNG. Max size 800KB. <br>
          </a>
        </span>

        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method='POST' action="{% url 'editStudentProfile' student.id %}">
        {% csrf_token %}
          <span id="reauth-email" class="reauth-email"></span>
          <label class="company-name" for="ROLL NUMBER">
            ROLL NUMBER
          </label>
          <input type="text" name="roll_number" id="ROLL NUMBER" value='{{student.roll_number}}' class="form-control">
          <label class="company-name" for="DEPARTMENT">
            DEPARTMENT
          </label>
          <input type="text" name="department" value='{{student.department}}' id="DEPARTMENT" class="form-control">
          <span class="full">

              Kindly use full name.Eg: Mechanical Engineering*. <br>
            
          </span>
          <label class="company-name" for="BIO">
            BIO
          </label>
          <input type="text" value='{{student.bio}}' maxlength='500' name="bio" id="BIO" class="form-control">

          <div class="row align-items-center ">
            <div class="col-lg-7 col-12 text-end Save"><button type='submit' class="save">Save Changes</button></div>

            <div class="col-12 col-lg-5 text-start No"><a class="no" onclick="closeEditModal()">No</a></div>

          </div>




        </form><!-- /form -->

      </div><!-- /card-container -->
    </div>

    <!-- List of registered internships  -->
    <div class="row mb-4 justify-content-between">
      <div class="col-md-6 pb-4 pb-md-0" style="font-size: 1.5rem">
       Internships you've registered for
      </div>
    </div>


    <!-- If internship not applied -->
    {% if not  interns %}
    <div class="applied ">
      <p>You haven't applied to any companies yet. Start by looking at<br>company's requirements</p>
      <a class="btn btn-primary btn-md  " href="{% url 'AvailableInternships'%}" role="button"
        style="background: #416EA8 ;">Apply to companies</a>

    </div>

    <br><br>
    {% else  %}
    <!-- If internships applied -->
    <div class="little-center-table">

      <!-- Table column heading -->
      <div class="row d-none d-md-flex" id="table-head">
        <div class="col-md-auto profile-userpic padding"><img
            src="https://www.htmlcsscolor.com/preview/128x128/FFFFFF.png" class="img-fluid"></div>
        <div class="col-md">
          <div class="row light-text">
            <div class="col-3 padding">NAME</div>
            <div class="col-3 padding">PROFILE</div>
            <div class="col-3 padding">LOCATION</div>
            <div class="col-3 padding">STIPEND</div>
          </div>

        </div>
      </div>

      {% for intern in interns %}
      <!-- Row 1 -->
      <div class="row p-2 p-md-0 top" style="margin-left: 15px;" id="{{intern.id}}" onclick="openSummaryModal({{intern.id}})">
       <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0">
<!--          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVBaeG1ENgtAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC"-->
<!--            class="img-fluid">-->
          <img class="img-fluid" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" alt="loading...">
        </div>
        <div class="col-auto col-md p-0 px-md-3">
          <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
            <div class="col-md-3 padding">{{ intern.Internship.startup }}</div>
            <div class="col-md-3 padding">{{  intern.Internship.profile }}</div>
            <div class="col-md-3 padding">{{  intern.Internship.location }}</div>
            <div class="col-md-3 padding">{{  intern.Internship.stipend }}</div>
          </div>
        </div>
      </div>

      <!-- Modal containing application summary and option for cancel -->
      <div class="applicationSummary" id="modal{{intern.id}}">
        <div class="card">
          <div class="upperpart">
            <div class="image">
              <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" alt="loading..." id="image">
            </div>
          </div>
          <div class="name"><h1 style="width: fit-content;"> {{ intern.Internship.startup }}</h1><br></div>
          <div class="left">
            <table>
              <div class="left">
                <div class="lead"><p> PROFILE </p></div>
                <div class="answer"><p>{{  intern.Internship.profile }}</p></div>
                <div class="lead"><p> LOCATION </p></div>
                <div class="answer"><p> {{  intern.Internship.location }} </p></div>
                <div class="lead"><p> STIPEND </p></div>
                <div class="answer"><p> {{  intern.Internship.stipend }} </p></div>
              </div>
              <div class="right">
                <div class="lead"><p>ALLOWANCES </p></div>
                <div class="answer"><p>{{ intern.Internship.allowances }}</p></div>
                <div class="lead"><p> REMARKS </p></div>
                <div class="answer"><p> {{ intern.Internship.remarks  }}.</p></div>
                <div class="lead"><p> STATUS </p></div>
                <div class="answer"><p> {{ intern.Status  }}</p></div>
              </div>
              <div class="button ml-3">
              <button type="button" onclick="openConfirmModal({{intern.id}})" class="apply">Cancel Application</button>
              </div>
            </table>

          </div>
        </div>
      </div>

      <!-- Modal for confirming cancellation -->
      <div class="confirmCard" id="cModal{{intern.id}}">
        <div class="confirmModal">
          <div class="row justify-content-center" style="width: 100%;">
            <div class=" col-12 col-sm-8 col-xl-6 bg-light d-flex justify-content-center"
              style="border-radius: 1rem !important">
              <div class="col-12 col-md-10 col-lg-9 col-xl-8 card-body text-center card-text">
                <img src="https://c7.uihere.com/files/557/90/534/google-logo-g-suite-google.jpg" id="logo">
                <p class="m-0">Are you sure that you want to cancel your application for internship in</p>
                <p id="company">{{ intern.Internship.startup }}</p>
                <a href="{% url 'delete_app' intern.id %}" class="btn btn-custom py-1 px-3" onclick="cancelApplication({{intern.id}})">Yes</a>
                <a href="#" class="btn py-1 px-3" style="color: #416EA8; text-decoration: underline; outline: none;"
                  onclick="backModal({{intern.id}})">No</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
 {% endif %}


    </div>
    </div>


</body>

<script>
  function openEditModal() {
    var modal = document.getElementById("editProfileModal");
    modal.style.display = "block";
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  }

  function closeEditModal() {
    var modal = document.getElementById("editProfileModal");
    modal.style.display = "none";
  }

  function openSummaryModal(i) {
    var modal = document.getElementById("modal" + i);
    modal.style.display = "block";
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  }

  function openConfirmModal(i) {
    var modal = document.getElementById("modal" + i);
    modal.style.display = "none";
    modal = document.getElementById("cModal" + i);
    modal.style.display = "block";
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  }

  function backModal(i) {
    var modal = document.getElementById("cModal" + i);
    modal.style.display = "none";
    modal = document.getElementById("modal" + i);
    modal.style.display = "block";
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  }

</script>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</html>