<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/AvailableInternships.css' %}">

  <title>Avalible interns</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span><a href="#" style="text-decoration: none; ">Available Internships</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link current-page hov" href="#">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link activo activa hov" href="#" style="color: #416EA8;">Available Internship</a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link hov" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link activa hov" href="#" style="color: #416EA8;">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">

    <hr class="line">

  <div class="row mb-5 justify-content-between">
    <div class="col-md-6 pb-4 pb-md-0" style="font-size: 1.5rem">
      <span class="d-block d-lg-inline" href="#" style="color: #212121; font-size: 24px;">Available Internships </span>
    </div>
    <div class="col-md-5 d-flex col-lg-3 flex-row align-items-start">
      <input type="search" class="form-control" placeholder="Search" />
      <button type="button" name="button" class="btn btn-sm btn-color">
        <i class="search-color fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="little-center-table">

  <div class="row d-none d-md-flex" id="table-head">
      <div class="col-md-auto profile-userpic padding"><img src="https://www.htmlcsscolor.com/preview/128x128/FFFFFF.png" class="img-fluid"></div>
      <div class="col-md">
        <div class="row light-text">
          <div class="col padding">NAME</div>
          <div class="col padding">PROFILE</div>
          <div class="col padding">LOCATION</div>
          <div class="col padding">STIPEND</div>
        </div>

      </div>
    </div>

  <div class="row p-2 p-md-0 top" id="first-student">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVBaeG1ENgtAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Google</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>
    </div>

    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAGFBMVEX/ZgDa183y8u//7+n/WQDp5+H/////SgBi0OPiAAABH0lEQVR4nO3PCQ2EABAAMX78Oz4IORGzaR10Wadb1nOb7HyG27XPdW3vcL+Pqe79Gx7LVIdhnmGfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYd9/eB9T3d/w2ue63uG5TXY+w+l+h1EihcbqknUAAAAASUVORK5CYII=" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">FaceBook</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">70,000 INR</div>
        </div>
      </div>

    </div>

    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUSmCekSv+9AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">SnapChat</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">San Francisco</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>

    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAGFBMVEWZmZna183z8u7z8/SSkpLp5+H///+KiorneuqDAAABH0lEQVR4nO3PCQ2EABAAMX78Oz4IORGzaR10Wadb1nOb7HyG27XPdW3vcL+Pqe79Gx7LVIdhnmGfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYd9/eB9T3d/w2ue63uG5TXY+w+l+h1EihcbqknUAAAAASUVORK5CYII=" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Zomato</div>
          <div class="col-md-3 padding">Android Developer</div>
          <div class="col-md-3 padding">Delhi</div>
          <div class="col-md-3 padding">20,000 INR</div>
        </div>
      </div>

    </div>

    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUSmCekSv+9AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Amazon</div>
          <div class="col-md-3 padding">Marketing</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">70,000 INR</div>
        </div>
      </div>

    </div>

    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAG1BMVEX/zADa183y8e//+en/yQD/+efp5+H/////xQCaMLYCAAABJ0lEQVR4nO3PiQ2DQBAAMQIc0H/FeZQmZmV34O013fa69smuz3C/1zHVuvfvcD3nVM/6DY9zm+o8DOsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7/sP1nFM96ze81zHVur/Da5/s+gynewNk0iKhpCd4kAAAAABJRU5ErkJggg==" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Google India</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">70,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAGFBMVEWZmZna183z8u7z8/SSkpLp5+H///+KiorneuqDAAABH0lEQVR4nO3PCQ2EABAAMX78Oz4IORGzaR10Wadb1nOb7HyG27XPdW3vcL+Pqe79Gx7LVIdhnmGfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYd9/eB9T3d/w2ue63uG5TXY+w+l+h1EihcbqknUAAAAASUVORK5CYII=" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Microsoft </div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">95,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAG1BMVEX/zADa183y8e//+en/yQD/+efp5+H/////xQCaMLYCAAABJ0lEQVR4nO3PiQ2DQBAAMQIc0H/FeZQmZmV34O013fa69smuz3C/1zHVuvfvcD3nVM/6DY9zm+o8DOsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7DPsM+wz7/sP1nFM96ze81zHVur/Da5/s+gynewNk0iKhpCd4kAAAAABJRU5ErkJggg==" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Cocacola</div>
          <div class="col-md-3 padding">Web Developer</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUSmCekSv+9AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Google</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAGFBMVEWZmZna183z8u7z8/SSkpLp5+H///+KiorneuqDAAABH0lEQVR4nO3PCQ2EABAAMX78Oz4IORGzaR10Wadb1nOb7HyG27XPdW3vcL+Pqe79Gx7LVIdhnmGfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYd9/eB9T3d/w2ue63uG5TXY+w+l+h1EihcbqknUAAAAASUVORK5CYII=" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Quickr</div>
          <div class="col-md-3 padding">Machine learning</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVBaeG1ENgtAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Google</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUSmCekSv+9AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Instagram</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">N/A</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAGFBMVEWZmZna183z8u7z8/SSkpLp5+H///+KiorneuqDAAABH0lEQVR4nO3PCQ2EABAAMX78Oz4IORGzaR10Wadb1nOb7HyG27XPdW3vcL+Pqe79Gx7LVIdhnmGfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYd9/eB9T3d/w2ue63uG5TXY+w+l+h1EihcbqknUAAAAASUVORK5CYII=" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">JP Morgan</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Hyderabad</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>
    <div class="row p-2 p-md-0 top">
      <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVBaeG1ENgtAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
      <div class="col-auto col-md p-0 px-md-3">
        <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
          <div class="col-md-3 padding">Cure.fi</div>
          <div class="col-md-3 padding">SDE</div>
          <div class="col-md-3 padding">Guwahati</div>
          <div class="col-md-3 padding">75,000 INR</div>
        </div>
      </div>

    </div>
  </div>


</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



</body>
</html>
