<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/CancelApplicationCard.css' %}">
    <title>Google Application Page</title>
	<style type="text/css">
		html {height: 100%;}
		body {
			background-color: rgb(39, 39, 20)!important;
			background-size: cover;
			height: 100%;
		}
		
	</style>
</head>

<body>
    <div class="card">
        <div class="upperpart">
            <div class="image">
                <img src= "https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png"alt="loading..." id = "image">
            </div>
        </div>
        <div class = "name">
        <h1> Google </h1><br></div>
		<div class = "left">
		<table>
		
		
        <div class = "left">
		<div class = "lead">
            <p> PROFILE </p> </div>
        <div class = "answer">
            <p> Front-End Developer </p></div>
        <div class = "lead">
            <p> LOCATION  </p> </div>
        <div class = "answer">
            <p> Hyderabad </p></div>
        <div class = "lead">
            <p> STIPEND </p> </div>
        <div class = "answer">
            <p> N/A </p></div></div>
        <div class = "right"><div class = "lead">
            <p>ALLOWANCES </p> </div>
        <div class = "answer">
            <p> N/A </p></div>
        <div class = "lead">
            <p> REMARKS </p> </div>
        <div class = "answer">
            <p> You will be working from </p><p class = "x">home.</p> </p></div></div>
        <div class="button">
                    <ul class="ul">
                        <li>
                            <button type="button" class="cancel">Cancel Application</button>
                        </li>
                    </ul>
                </div>
                </table>
    </div>
 </body>
</html>



        
            
        
	
