<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/CompanyDetailsCard.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            
                <h1>Internship Form</h1>
                <h2>Company Bio</h2>
                 <div class="box">
                    <p>PROFILE</p>
                 </div>
                 <div class="box">
                    <input type="text"><br>
                 </div>
                 <div class="box-2">
                    <p>LOCATION</p>
                    <a href="#">Kindly use full name. Eg:Mechanical Engineer</a>
                 </div>
                 <div class="box">
                    <input type="text"><br>
                 </div>
                 <div class="box">
                    <p>STIPEND</p>
                 </div>
                 <div class="box">
                    <input type="text"><br>
                 </div>
                 <div class="box">
                    <p>ALLOWANCES</p>
                 </div>
                 <div class="box">
                    <input type="text"><br>
                 </div>
                 <div class="box">
                    <p>REMARKS</p>
                 </div>
                 <div class="box">
                    <input type="text"><br>
                 </div>

            <div class="bottom">
               <a href="#" class="button-one"><u>Close</u></a>
                <button class="button-two">Next</button>


            </div>


        </div>

    </div>

</body>
</html>