<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/InternProfileCard.css' %}">
    <title>Ecell recruiter page</title>
</head>
<body>
    <div class="card">
        <div class="main">
            <div class="upper">
                <div class="img">
                    <img src="{% static 'image/test_image_ecell.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h2>
                        Vedant Chourasia
                    </h2>
                    <div class="info">
                        <p class="light">
                            DEPARTMENT
                        </p>
                        <p class="all">
                            Mechanical Engineering
                        </p>
                    </div>
                    <div class="info">
                        <p class="light">
                            ROLL NUMBER
                        </p>
                        <p class="all">
                            190103102
                        </p>
                    </div>
                    <div class="info">
                        <p class="light">
                            BIO
                        </p>
                        <p class="all">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facilis, quas est qui omnis
                                ea!
                        </p>
                    </div>
                </div>
            </div>
            <div class="lower">
                <div class="container">
                    <button type="button" class="view">View answers to form</button>
                    <button class="shortlist" type="button">Shortlist</button>
                </div>


                <!-- <ul class="ul">
                    <li class="view">
                        <button type="button" class="view">View answers to form</button>
                    </li>
                    <li class="shortlist">
                        <button class="shortlist" type="button">Shortlist</button>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</body>
</html>