<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/ShortlistedInterns.css' %}">
    <title>HELLO</title>
  </head>
  <body>





    <nav class="navbar navbar-expand-lg navbar-light  mynavbar">
  <a class="navbar recruiter recruiter" href="#">Recruiter's Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active home">
        <a class="nav-link home" href="#">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active home">
        <a class="nav-link home" href="#">Internship Statistics</a>
      </li>
      <li class="nav-item active home">
        <a class="nav-link home" href="#">Contact Us</a>
      </li>
      <li class="nav-item active home">
        <a class="nav-link home" href="#">Log Out</a>
      </li>


  </div>
  -->
  <div class="topnav collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li><a href="#home" class="active">Dashboard</a></li>
      <li><a href="#news">Internship Statistics</a></li>
      <li><a href="#contact">Contact Us</a></li>
      <li><a href="#contact">Log Out</a></li>
    </ul>




</div>
</nav>

<div class="container">
<div class="jumbotron myjumbo">
  <div class=" row ">
    <img id="profile-img" class="profile-img-card" src="p.png" />
    <div class="col">
      <h3 class="companyname"> GOOGLE </h3>
      <h6 class = "myhead">COMPANY DESCRIPTION</h6>
      <p class="mydesc">AI startup Kolkata; researching on neural pathways</p>
      <h6 class="myhead">LOCATION</h6>
      <p class="mydesc">Kolkata</p>
      <a href="#" class="editprof">Edit Profile</a>



    </div>
    <div class="col">
        <p class="mydesc1"> Add a new position to start recruiting</p>
        <button type="button" class="btn btn-primary mybtn">Add an internship form</button>
    </div>


  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light  mynavbar1">

  <div class="navbar ">
  <a class="nav-link disabled myav" href="#" tabindex="-1" aria-disabled="true">Available Interns</a>

  <a href="#home" class="internactive">Shortlisted Interns</a>

</div>
<div class="navbar ml-auto">
  <form class="form-inline">
      <input class="form-control mr-sm-2 mysearch" type="search" placeholder="Search" aria-label="Search">

    </form>
</div>

</nav>

<table class="table">
  <thead>
    <tr class="tablehead">
      <th></th>
      <th scope="col">Name</th>
      <th scope="col">Profile</th>
      <th scope="col">Department</th>
      <th scope="col">Bio</th>
    </tr>
  </thead>
  <tbody>
    <tr class ="myrow">
      <th scope="row"><img src="p1.png" class = "dot" alt=""></th>
      <td >Shirin Jain</td>
      <td>Front-end</td>
      <td>Electronics and Communications</td>
      <td>N/A</td>
    </tr>
    <tr class="myrow">
      <th scope="row"><img src="p1.png" class = "dot" alt=""></th>
      <td >Janhavi Lande</td>
      <td>Back-end</td>
      <td>Engineering Physics</td>
      <td>N/A</td>
    </tr>
    <tr class="myrow">
      <th scope="row"><img src="p1.png" class = "dot" alt=""></th>
      <td >Shiv Chauhan</td>
      <td>Machine Learning</td>
      <td>Mathematics and Computing</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>

</div>

  </body>
</html>
