<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./{% static 'css/StudentLanding.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
    <title>Student Login - Internfair</title>
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-edit navbar-expand-lg navbar-light bg-light" style="padding: 1vh 8vw; box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08); background-color: #FFFFFF !important">
        <a class="brand" href="#" id="brand">Internfair</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse drop-menu" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="menu-item">
                <a href="#" class="nav-menu" style="margin-right: 8vw;">Home</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-menu">Contact Us</a>
            </li>
          </ul>
          <button class="RegisterBtn">Register</button>
        </div>
      </nav>

      <br><br><br>
      <div class="container">
        <div class="row justify-content-center align-items-center" style="margin-top:5vh">
            <div class="col-lg-5 order-lg-1 order-md-1 order-12 col-md-6 col-10" style="padding-left:10vw;">
                <span class="heading">Your first step to excel in your career</span>
                <br><br>
                <span class="quote">Internfair provides the perfect platform to land that first step</span>
                <br><br><br>
                <div style="width: 80%;">
                    <div class="row justify-content-end">
                        <div class="col-6">
                            <span class="studentLogin">Student Login</span>
                        </div>
                        <div class="col-6 text-right">
                            <a class="recruiter" href="">I am a recruiter</a>
                        </div>
                    </div>
                    <form action="">
                        <input type="text" placeholder="Email" class="input">
                        <input type="text" placeholder="Password" class="input">
                        <input type="submit" value="Login" class="login">
                    </form>
                    
                    <div class="row justify-content-end" style="margin-top: 24px;">
                        <div class="col-6">
                            <span class="recruiter">Don’t have an account?</span>
                        </div>
                        <div class="col-6 text-right">
                            <a class="recruiter" href="">Forgot Password?</a>
                        </div>
                    </div>
                </div>
                
            
            </div>
            <div class="col-lg-7 order-lg-2 order-md-2 order-1 text-center col-md-6 col-12" id="intro"  >
                <img class="sideImg" src="{% static 'image/sideImg.png' %}" alt="">
            </div>
       </div>
      </div>

      
</body>
</html>